:root {
  --flip-timing: 2s;
  --rotation-perspective: 300px;
}

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  gap: 2rem;

  color: white;
  background: #111;

  font-family: monospace;
}

.flipper,
.flippy {
  border-radius: 2px;
}

.flippy {
  width: 100%;
  max-width: 4rem;

  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
}

.flipper {
  display: grid;
  grid-row-start: 1;
  grid-column-start: 1;
  place-items: center;

  width: 100%;
  padding: 2rem 0;

  transform-origin: top center;

  font-size: 1.5rem;
  border: 1px solid #333;
  background: #222;
}

.flippy.flipping .base {
  user-select: none;
  animation: 2s linear inner-flip;
}

.flippy.flipping .flipped {
  user-select: none;
  animation: 2s linear flip;
}

@keyframes inner-flip {
  50% {
    box-shadow: inset 0px 4px 24px -6px rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: inset 0px 128px 8px 0px rgba(0, 0, 0, 0.45);
  }
}

@keyframes flip {
  0% {
    transform: rotateX(360deg);
    filter: brightness(1);
  }
  0%,
  24% {
    visibility: hidden;
  }
  25% {
    visibility: visible;
  }
  50% {
    filter: brightness(1.25);
    transform: perspective(var(--rotation-perspective)) rotateX(180deg);
  }
  74% {
    filter: brightness(0.7);
  }
  75% {
    filter: brightness(1.25) drop-shadow(8px 32px 32px rgba(0, 0, 0, 0));
  }
  85% {
    filter: brightness(1.25) drop-shadow(8px 32px 16px rgba(0, 0, 0, 0.2));
  }
  100% {
    filter: brightness(1) drop-shadow(0 0 4px rgba(0, 0, 0, 0));
    transform: perspective(var(--rotation-perspective)) rotateX(0);
  }
}
